.valuesInfo{
    text-align: center;
    font-weight: bold;
}

.url-form{
    padding-top: 25px;
    padding-left: 15px;
}

.uparrow,.downarrow{
    font-size: medium;
}

.uparrow:hover,.downarrow:hover{
    color: #06e;
    cursor: pointer;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    border: solid white 1px;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}


.grid{
    width: 1000px;
}