.valuesInfo{
    text-align: center;
    font-weight: bold;
}

.url-form{
    padding-top: 25px;
    padding-left: 15px;
}

.arrow{
    font-size: large;
}

.arrow:hover{
    color: blue;
    cursor: pointer;
}

