.valuesInfo{
    text-align: center;
    font-weight: bold;
}

.url-form{
    padding-top: 25px;
    padding-left: 15px;
}

.uparrow,.downarrow{
    font-size: medium;
}

.uparrow:hover,.downarrow:hover{
    color: #06e;
    cursor: pointer;
}

