<table class="aui">
    <tbody>
    <tr>
        <th ng-repeat="(key,value) in results.values[0]">{{key}}<span class="uparrow" ng-click="sort(key,'asc')">&#8679;</span><span class="downarrow" ng-click="sort(key,'desc')">&#8681;</span></th>
    </tr>
    <tr ng-repeat="value in results.values">
        <td>{{ value.emp_no }}</td>
        <td>{{ value.first_name }}</td>
        <td>{{ value.last_name}}</td>
        <td>{{ value.birth_date}}</td>
        <td>{{ value.gender}}</td>
        <td>{{ value.hire_date }}</td>
    </tr>
    </tbody>
</table>
