<form class="pure-form pure-form-aligned">

        <fieldset>
            <div class="pure-control-group">
                <label for="emp_no">Employee Number:</label>
                <input  id="emp_no" type="text" ng-model="queryParams.emp_no">
                <span ng-hide="results.errorData.emp_no == undefined" class="errorMessage" ng-bind="results.errorData.emp_no.simple_message"></span>
            </div>
            <div class="pure-control-group">
                <label for="first_name">First Name:</label>
                <input id="first_name" type="text" ng-model="queryParams.first_name"/>
                <span ng-hide="results.errorData.first_name == undefined" class="errorMessage" ng-bind="results.errorData.first_name.simple_message"></span>
            </div>

            <div class="pure-control-group">
                <label for="last_name">Last Name:</label>
                <input id="last_name" type="text" ng-model="queryParams.last_name"/>
                <span ng-hide="results.errorData.last_name == undefined" class="errorMessage" ng-bind="results.errorData.last_name.simple_message"></span>
            </div>

            <div class="pure-control-group">
                <label for="hire_date">Hire Date:</label>
                <input id="hire_date" type="text" placeholder="YYYY-MM-DD" ng-model="queryParams.hire_date"/>
                <span ng-hide="results.errorData.hire_date == undefined" class="errorMessage" ng-bind="results.errorData.hire_date.simple_message"></span>
            </div>

            <div class="pure-control-group">
                <label for="birth_date">Birth Date:</label>
                <input id="birth_date" type="text" placeholder="YYYY-MM-DD" ng-model="queryParams.birth_date"/>
                <span ng-hide="results.errorData.birth_date == undefined" class="errorMessage" ng-bind="results.errorData.birth_date.simple_message"></span>
            </div>

            <div class="pure-control-group">
                <label for="gender">Gender:</label>
                <input id="gender" type="radio" ng-model="queryParams.gender" value="M"/>M
                <input type="radio" ng-model="queryParams.gender" value="F" />F<br/>
            </div>
            <div class="pure-control-group">
                <label for="page">Page: </label>
                <input  id="page" type="text" placeholder="1" ng-model="queryParams.page"/>
            </div>
            <div class="pure-control-group">
                <label for="numberPerPage">Items Per Page: </label>
                <input id="numberPerPage" type="text" placeholder="10" ng-model="queryParams.numberPerPage"/>
            </div>
            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary" ng-click="getValues()">Submit</button>
            </div>
        </fieldset>
</form>